* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.row div {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 1px solid black;
}

.row div:hover {
  cursor: pointer;
}

#box1 {
  border-top: none;
  border-left: none;
}
#box2 {
  border-top: none;
}
#box3 {
  border-top: none;
  border-right: none;
}
#box4 {
  border-left: none;
}
#box6 {
  border-right: none;
}
#box7 {
  border-bottom: none;
  border-left: none;
}
#box8 {
  border-bottom: none;
}
#box9 {
  border-bottom: none;
  border-right: none;
}

div.green {
  background-color: lawngreen;
}
