body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  background-color: #efeff0;
  padding: 20px;
  padding-top: 75px;
}

header {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c9f0ff;
  z-index: 1;
  border-bottom: 1px solid #6b5e62;
}

h3 {
  margin: 5px;
}

.card {
  border: 2px solid #6b5e62;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  transition: 0.15s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.15s linear;
  cursor: pointer;
  background-color: #eafffd;
}

.more,
.less {
  height: 232px;
  width: 200px;
  justify-content: center;
}
